// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
);

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #ef394e;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #2fa643;
$teal: #20c997;
$cyan: #0dcaf0;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
);

$primary: #fcb941;
$secondary: #053561;

$success: $green;
$danger: $red;
$info: $cyan;
$warning: $yellow;
$light: $gray-100;
$dark: $black;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $green,
    "danger": $red,
    "light": $light,
    "dark": $dark,
);

$aspect-ratios: (
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%),
);

$input-border-color: $gray-400;
$pagination-color: $secondary;
$pagination-hover-color: $secondary;
$pagination-focus-color: $secondary;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;
$pagination-disabled-border-color: transparent;

$breadcrumb-divider: "chevron_right";
